*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: whitesmoke;
}

.flex-container{
	display : flex;
}

/*MENU*/

nav{
	padding: 0;	
	background-color: #F5A9BC;	
}

a{
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	border-right: 2px solid black;
	padding: 20px 6%;
	color: white;
	cursor: pointer;
}

nav.flex-container{
	flex-direction: row;
	justify-content: space-between;
}

a:hover{
	background: #A9F5BC;
	color: #F5A9BC;
}

.btn-menu{
	display: none;
	color: #fff;
	text-decoration: none;
	font-size: 2em;
}

.menu .link{
	display: inline-block;

}

/*mediaqueries*/
@media screen and (max-width: 700px){
	nav{
		background-color: #1C1C1C;
	}

	a{
		font-family: 'Merriweather', serif;
		display: inline-block;
		text-align: left;
		align-items: left;
		text-decoration: none;
		border-right: none;
		border-bottom: 2px solid black;
		justify-content: space-between;
		color: white;
		cursor: pointer;
	}

	header .menu.flex-container{
		flex-direction: column;
		text-align: left;
		width: 100%;

	}

	header .btn-menu{
		background-color: #1C1C1C;
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		color: white;
		width: 100%;
		text-align: left;
	}

	a:hover{
	background: whitesmoke;
	color: black;
	}
	
}

