*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: whitesmoke;
}

.flex-container{
	display : flex;
}

/*MENU*/

nav{
	padding: 0;	
	background-color: #F5A9BC;	
}

a{
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	border-right: 2px solid black;
	padding: 20px 6%;
	color: white;
	cursor: pointer;
}

nav.flex-container{
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

a:hover{
	background: #A9F5BC;
	color: #F5A9BC;
}

.btn-menu{
	display: none;
	color: #fff;
	text-decoration: none;
	font-size: 1em;
}

.menu .link{
	display: inline-block;

}
